mixin section-article(data, mods)
  section.section-article
    .container
      h1.section-article__headline.headline!= "История в фактах из жизни легендарного мороженого «Труффальдино»..."
      p.section-article__date!= "25 апреля 2022"
      +section-article-slider()
      .section-article__content
        p.intro!= "В далеком 1996 году была приобретена наша первая итальянская экструзионная линия «Марклайн», позволившая значительно разнообразить ассортимент выпускающегося в Белгороде эскимо и начать производство мороженого «Труффальдино»."
        .columns
          .column
            p!= "В 1999 году мороженое «Труффальдино» стало лауреатом ВСЕРОССИЙСКОЙ ПРОГРАММЫ КОНКУРСА «100 ЛУЧШИХ ТОВАРОВ РОССИИ» (см. фото диплома в карусели)"
            p!= "в 2000 году, когда бренд «Бодрая корова» только начинал делать первые шаги, бренд «Труффальдино» уже гордо шагал по просторам страны"
            p!= "в 2002 году наименование «Труффальдино» было зарегистрировано в ФИПС как товарный знак"
            p!= "27 февраля 2003 способ производства мороженого с включением спирали из джема внутри тела мороженого, применявшийся в «Труффальдино», был зарегистрирован в ФИПС как изобретение."
            p!= "в 2005 году появилась целая линейка эскимо «Труффальдино», к классическому вкусу «Труффальдино» (со спиралью из джема в шоколадной глазури с орехами) было выпущено эскимо «Труффальдино» Cremo (крем-брюле с вареной сгущенкой в шоколадной глазури с вафельной крошкой) и «Труффальдино» NERO (шоколадное с шоколадным топпингом в шоколадной глазури с вафельной крошкой). "
          .column
            +picture("news", "page-article", "jpg", 710, 735, "История в фактах из жизни легендарного мороженого «ТТруффальдино»")
        p!= "Но в последствии выпущенные новинки были сняты с производства в виду сокращения потребительского спроса (см. фото линейки «Труффальдино» 2005 года в карусели)"
        p!= "по итогам 2021 года «Труффальдино» по прежнему ХИТ ПРОДАЖ в нашем ассортименте и занимает 4 место по объему продаж в группе эскимо 60-80 г."











