mixin modal-trade()
  header.modal__header
    h3.modal__headline!= "Департамент оптовых продаж и дистрибуции ООО «ТД БХК»"
  .modal__items
    .modal__item
      .band
        h4.modal__subtitle!= "Цыганова Жанна Александровна"
        p!= "Руководитель департамента оптовых продаж и дистрибьюции. Руководитель отдела. "
      .band
        a.modal__link(href="tel:+74722215052")!= "+7 (4722) 21-50-52<br/>внутр 147"
        a.modal__link(href="mailto:ciganova@belhlado.ru")!= "ciganova@belhlado.ru"
    .modal__item
      .band
        h4.modal__subtitle!= "Лаптева Виктория"
        p!= "Региональный менеджер"
      .band
        a.modal__link(href="tel:+74722215052")!= "+7 (4722) 21-50-52<br/>внутр 147"
        a.modal__link(href="mailto:ciganova@belhlado.ru")!= "ciganova@belhlado.ru"
      .band
        h4.modal__subtitle.modal__subtitle--small!= "Подконтрольные регионы"
        p!= "Израиль, Абхазия, Казахстан, Грузия,Армения, Азербайджан, Узбекистан , Китай, Украина, Монголия, Калужская область,Тамбовская область, Санкт-Петербург, Республика Крым, ЯНАО, Тверская область,Ростовская область, Смоленская область, Архангельская область, Кабардино-Балкарская Республика,Дагестан,Новосибирск, Челябинск."
    .modal__item
      .band
        h4.modal__subtitle!= "Кузнецова Людмила"
        p!= "Региональный менеджер"
      .band
        a.modal__link(href="tel:+74722215052")!= "+7 (4722) 21-50-52<br/>внутр 147"
        a.modal__link(href="mailto:ciganova@belhlado.ru")!= "ciganova@belhlado.ru"
      .band
        h4.modal__subtitle.modal__subtitle--small!= "Подконтрольные регионы"
        p!= "Республика Беларусь, Калининградская область,Астраханская область, Краснодарский край,Московская область, Хабаровский край, Магаданская область, Тульская область, Орловская область, Владимирская область, Рязанская область,Ивановская область, Костромская область,Республика Коми, Волгоградская, Саратовская, Пензенская, Ульяновская, Самарская область, Красноярская область, Томская область, Республика Мордовия."
