mixin job-advantage()
  aside.job-advantage&attributes(attributes)
    .job-advantage__wrapper
        ul.job-advantage__items
          li.job-advantage__item
            p.job-advantage__article
              span.job-advantage__icon.job-advantage__icon--1
              span.job-advantage__article-name!= "Официальное трудоустройство"
              span.job-advantage__article-count!= "по ТК РФ"
          li.job-advantage__item
            p.job-advantage__article
              span.job-advantage__icon.job-advantage__icon--2
              span.job-advantage__article-name!= "Социальный пакет"
              span.job-advantage__article-count!= "“Все включено”"
          li.job-advantage__item
            p.job-advantage__article
              span.job-advantage__icon.job-advantage__icon--3
              span.job-advantage__article-name!= "Достойная оплата&nbsp;труда"
              span.job-advantage__article-count!= "и премирование"
          li.job-advantage__item
            p.job-advantage__article
              span.job-advantage__icon.job-advantage__icon--4
              span.job-advantage__article-name!= "Повышение квалификации"
              span.job-advantage__article-count!= "и карьерный рост"
          li.job-advantage__item
            p.job-advantage__article
              span.job-advantage__icon.job-advantage__icon--5
              span.job-advantage__article-name!= "Программы стажировки"
              span.job-advantage__article-count!= "для молодых сотрудников"
          li.job-advantage__item
            p.job-advantage__article
              span.job-advantage__icon.job-advantage__icon--6
              span.job-advantage__article-name!= "Стимулирование и поощрение"
              span.job-advantage__article-count!= "творческих инициатив"
          li.job-advantage__item
            p.job-advantage__article
              span.job-advantage__icon.job-advantage__icon--7
              span.job-advantage__article-name!= "Медицинское страхование"
              span.job-advantage__article-count!= "всем сотрудникам"
          li.job-advantage__item
            p.job-advantage__article
              span.job-advantage__icon.job-advantage__icon--8
              span.job-advantage__article-name!= "Работа в престижной компании"
              span.job-advantage__article-count!= "с интересными задачами"
